<div class="my-4">
  <h1>{{newcomerName}}</h1>
  <h1>This is Read using the translation Pipe : {{'testKey' | translate}}</h1>
  <hr>
  <h1>This is read using the translate directive</h1>
  <h1 translate="testObject.KeyValueTwo.key"></h1>
  <form class="form-inline">
    
    <div class="col-9">
      <p class="display-4">
        this is some text sent from newcomer dashboard templete open
      </p>
    </div>
    <div class="col-3 align-self-start">
        <div class="input-group ">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>open</option>
            <option>in progress</option>
            <option>resolve</option>
          </select>
          <span class="input-group-btn align-baseline" id="basic-addon1">
            <button type="button" class="btn btn-outline-primary">update state</button>
          </span>
        </div>
      </div>

  </form>
</div>

<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
    <br> Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
  </p>
  <footer class="blockquote-footer">Open</footer>
</blockquote>
<hr>