<form>
  <div class="display-4 text-center">
    Newcomer firstName LastName
  </div>
  <div class="form-group row">
    <label>Select capability</label>
    <select class="form-control">
      <option value="1">Angular</option>
      <option value="2">react</option>
      <option value="3">Vue</option>
      <option value="4">react native</option>
      <option value="5">android</option>
    </select>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select tasks</label>
        <select multiple class="form-control" style="height:150px">
          <option value="1">Dapibus ac facilisis in</option>
          <option value="2">Cras justo odio</option>
          <option value="3">Dapibus ac facilisis in</option>
          <option value="4">Cras justo odio in flase</option>
          <option value="5">Cras justo odio</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">add</button>
    </div>
    <div class="col-md-6">
      <label>Assinged tasks</label>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true" >&times;</span>
            </button>
          </span>
        </li>
      </ul>
      <button type="submit" class=" mt-4 btn btn-primary">Assign</button>
    </div>
  </div>
</form>