<form>
  <div class="form-group">
    <label class="col-form-label-lg">Capability name</label>
    <input type="text" class="form-control " aria-describedby="emailHelp" placeholder="Capability name">
  </div>
  <button type="submit" class="btn btn-primary">Add new Task</button>
  <!-- <label class="custom-control custom-checkbox">
    <input (change)="change($event)" type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Check this custom checkbox</span>
  </label> -->

  <div class="blockquote ml-4">
   <div>
      <div class="input-group">
          <!-- <span class="input-group-addon">
            <input type="checkbox">
          </span> -->
          <span class="input-group-addon" id="basic-addon1">1</span>
          <input type="text" class="form-control" placeholder="Task Name" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-btn">
              <button class="btn btn-outline-danger" type="button">Del</button>
            </span>
        </div>
    
        <div class="blockquote ml-4">
          <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">state</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>open</option>
              <option>in progress</option>
              <option>resolve</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
   </div>
   <div>
      <div class="input-group">
          <!-- <span class="input-group-addon">
            <input type="checkbox">
          </span> -->
          <span class="input-group-addon" id="basic-addon1">2</span>
          <input type="text" class="form-control" placeholder="Task Name" aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-btn">
              <button class="btn btn-outline-danger" type="button">Del</button>
            </span>
        </div>
    
        <div class="blockquote ml-4">
          <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">state</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>open</option>
              <option>in progress</option>
              <option>resolve</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
   </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg px-4">save</button>
</form>