<div class="display-4">
  CAPABILITIES
</div>
<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <a>Anglular 5</a>
        <p>4 active newcomers</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus

        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="d-flex flex-row justify-content-between">
        <button type="button" class="btn btn-primary">edit</button>
        <button type="button" class="btn btn-secondary">delete</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <a>Anglular 5</a>
        <p>4 active newcomers</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus

        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <a>Anglular 5</a>
        <p>4 active newcomers</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <a>Anglular 5</a>
        <p>4 active newcomers</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="display-4 mb-4">
  NEWCOMERS
</div>
<div class="card mb-4">
  <div class="card-header">
    <div class="lead d-flex flex-row justify-content-between">
      <div>
        <p>Newcomer FirstName lastName</p>
        <p class="small">Anglular 5</p>
      </div>
      <p class="align-self-end">1 of 3</p>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <ul class="list-group">
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="open" [id]="i" btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="in progress" [id]="i"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as newcomer" TaskState="resolved" [id]="i"
        btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as sme" TaskState="resolved" [id]="i" user="sme"
        btnText="change state"></nc-single-item>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <div class="lead d-flex flex-row justify-content-between">
      <div>
        <p>Newcomer FirstName lastName</p>
        <p class="small">Anglular 5</p>
      </div>
      <p class="align-self-end">1 of 3</p>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <ul class="list-group">
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="open" [id]="i" btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="in progress" [id]="i"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as newcomer" TaskState="resolved" [id]="i"
        btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as sme" TaskState="resolved" [id]="i" user="sme"
        btnText="change state"></nc-single-item>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header ">
    <div class="lead d-flex flex-row justify-content-between">
      <div>
        <p>Newcomer FirstName lastName</p>
        <p class="small">Anglular 5</p>
      </div>
      <p class="align-self-end">1 of 3</p>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <ul class="list-group">
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="open" [id]="i" btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="in progress" [id]="i"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as newcomer" TaskState="resolved" [id]="i"
        btnText="change state"></nc-single-item>
      <nc-single-item taskName="this is some text sent from newcomer dashboard templete as sme" TaskState="resolved" [id]="i" user="sme"
        btnText="change state"></nc-single-item>
    </ul>
  </div>
</div>
<div class="card-columns">
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <div>
          <p>Newcomer FirstName lastName</p>
          <p class="small">Anglular 5</p>

        </div>
        <p class="align-self-end">1 of 3</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <div>
          <p>Newcomer FirstName lastName</p>
          <p class="small">Anglular 5</p>
        </div>
        <p class="align-self-end">1 of 3</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="open" [id]="i" btnText="change state"></nc-single-item>
        <nc-single-item taskName="this is some text sent from newcomer dashboard templete" TaskState="in progress" [id]="i"></nc-single-item>
        <nc-single-item taskName="this is some text sent from newcomer dashboard templete as newcomer" TaskState="resolved" [id]="i"
          btnText="change state"></nc-single-item>
        <nc-single-item taskName="this is some text sent from newcomer dashboard templete as sme" TaskState="resolved" [id]="i" user="sme"
          btnText="change state"></nc-single-item>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <div>
          <p>Newcomer FirstName lastName</p>
          <p class="small">Anglular 5</p>

        </div>
        <p class="align-self-end">1 of 3</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="lead d-flex flex-row justify-content-between">
        <div>
          <p>Newcomer FirstName lastName</p>
          <p class="small">Anglular 5</p>

        </div>
        <p class="align-self-end">1 of 3</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-pill">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>